## Settings file was created by plugin EpicMMOSystem v1.5.2
## Plugin GUID: WackyMole.EpicMMOSystem

[0.General---------------]

## Force Server Config [Synced with Server]
# Setting type: Boolean
# Default value: true
Force Server Config = true

## Language prefix [Not Synced with Server]
# Setting type: String
# Default value: eng
Language = eng

## Enable Extra Debug mode for Debugging [Not Synced with Server]
# Setting type: Boolean
# Default value: false
EnableExtraDebug = false

[1.LevelSystem-----------]

## Maximum level. Максимальный уровень [Synced with Server]
# Setting type: Int32
# Default value: 100
MaxLevel = 100

## Reset price per point. Цена сброса за один поинт [Synced with Server]
# Setting type: Int32
# Default value: 3
PriceResetPoints = 10

## Free points per level. Свободных поинтов за один уровень [Synced with Server]
# Setting type: Int32
# Default value: 5
FreePointForLevel = 5

## Additional free points start. Дополнительных свободных поинтов [Synced with Server]
# Setting type: Int32
# Default value: 5
StartFreePoint = 5

## Amount of experience needed per level. Количество опыта необходимого на 1 уровень [Synced with Server]
# Setting type: Int32
# Default value: 500
FirstLevelExperience = 500

## Experience multiplier for the next level - Should never go below 1.00. Умножитель опыта для следующего уровня [Synced with Server]
# Setting type: Single
# Default value: 1.04
MultiplyNextLevelExperience = 1.04

## Extra experience (from the sum of the basic experience) for the level of the monster. Доп опыт (из суммы основного опыта) за уровень монстра [Synced with Server]
# Setting type: Single
# Default value: 0.25
ExpForLvlMonster = 0.5

## Experience multiplier. Множитель опыта [Synced with Server]
# Setting type: Single
# Default value: 1
RateExp = 1

## Experience multiplier that the other players in the group get. Множитель опыта который получают остальные игроки в группе [Synced with Server]
# Setting type: Single
# Default value: 0.7
GroupExp = 1

## Minimum Loss Exp if player death, default 5% loss [Synced with Server]
# Setting type: Single
# Default value: 0.05
MinLossExp = 0.05

## Maximum Loss Exp if player death, default 25% loss [Synced with Server]
# Setting type: Single
# Default value: 0.25
MaxLossExp = 0.05

## Enabled exp loss [Synced with Server]
# Setting type: Boolean
# Default value: true
LossExp = true

## Maximum number of points you can put into one attribute [Synced with Server]
# Setting type: Int32
# Default value: 200
MaxValueAttribute = 200

## Added bonus point for level. Example(level:points): 5:10,15:20 add all 30 points  [Synced with Server]
# Setting type: String
# Default value: 5:5,10:5
BonusLevelPoints = 5:5,10:5,20:5,30:5,40:5,50:5,60:5,70:5,80:5,90:5,100:20

[1.LevelSystem Agility---]

## Reduces attack stamina consumption. Уменьшает потребление стамины на атаку [Synced with Server]
# Setting type: Single
# Default value: 0.1
StaminaAttack = 0.1

## Decrease stamina consumption for running, jumping for one point. Уменьшение расхода выносливости на бег, прыжок за один поинт [Synced with Server]
# Setting type: Single
# Default value: 0.15
StaminaReduction = 0.15

## One Point Stamina Increase. Увеличение  выносливости за один поинт [Synced with Server]
# Setting type: Single
# Default value: 1
AddStamina = 1

[1.LevelSystem Body------]

## One Point Health Increase. Увеличение здоровья за один поинт [Synced with Server]
# Setting type: Single
# Default value: 2
AddHp = 2

## Decrease stamina consumption per unit per point. Уменьшение расхода выносливости на блок за один поинт [Synced with Server]
# Setting type: Single
# Default value: 0.2
StaminaBlock = 0.2

## Increase in physical protection per point. Увеличение физической защиты за один поинт [Synced with Server]
# Setting type: Single
# Default value: 0.15
PhysicArmor = 0.15

## Increase health regeneration per point. Увеличение регенерации здоровья за один поинт [Synced with Server]
# Setting type: Single
# Default value: 0.1
RegenHp = 0.1

[1.LevelSystem Intellect-]

## Increase magic attack per point. Увеличение магической атаки за один поинт [Synced with Server]
# Setting type: Single
# Default value: 0.2
MagicAttack = 0.2

## Increase magical protection per point. Увеличение магической защиты за один поинт [Synced with Server]
# Setting type: Single
# Default value: 0.1
MagicArmor = 0.1

## Increase magical Eitr Regeneration per point. Увеличивает регенерацию магического Эйтра на единицу. [Synced with Server]
# Setting type: Single
# Default value: 0.3
MagicEitrReg = 0.3

[1.LevelSystem Strength--]

## Damage multiplier per point. Умножитель урона за один поинт [Synced with Server]
# Setting type: Single
# Default value: 0.2
PhysicDamage = 0.2

## Adds carry weight per point. Добавляет переносимый вес за один поинт [Synced with Server]
# Setting type: Single
# Default value: 2
AddWeight = 2

## Increase stamina regeneration per point. [Synced with Server]
# Setting type: Single
# Default value: 0.4
StaminaReg = 0.4

[2.Creature level control]

## Give full eXP for low level members in Groups [Synced with Server]
# Setting type: Boolean
# Default value: true
Mentor = true

## Enable creature Level control - Disable this to remove levels, but still get eXP gain [Synced with Server]
# Setting type: Boolean
# Default value: true
Enabled_creature_level = true

## Monsters after death do not give items if their level is higher than player level + MaxLevel [Synced with Server]
# Setting type: Boolean
# Default value: true
Remove_creature_drop_max = false

## Monsters after death do not give items if their level is lower than player level - MinLevel [Synced with Server]
# Setting type: Boolean
# Default value: false
Remove_creature_drop_min = false

## Bosses after death do not give items if their level is higher than player level + MaxLevel [Synced with Server]
# Setting type: Boolean
# Default value: true
Remove_boss_drop_max = false

## Bosses after death do not give items if their level is lower than player level - Minlevel [Synced with Server]
# Setting type: Boolean
# Default value: false
Remove_boss_drop_min = false

## Monsters after death will give less exp if player is outside Max or Min Level Range [Synced with Server]
# Setting type: Boolean
# Default value: true
Curve_creature_exp = false

## Bosses after death will give less exp if player is outside Max or Min Level Range [Synced with Server]
# Setting type: Boolean
# Default value: true
Curve_Boss_exp = false

## Decreased damage to the monster if the level is insufficient [Synced with Server]
# Setting type: Boolean
# Default value: false
Low_damage_level = false

## Extra paramater to low damage config - for reference(float)(playerLevel + lowDamageConfig) / monsterLevel; when player is below lvl [Synced with Server]
# Setting type: Int32
# Default value: 0
Low_damage_config = 0

## Character level - MinLevelRange is less than the level of the monster, then you will receive reduced experience. Уровень персонажа - MinLevelRange меньше уровня монстра, то вы будете получать урезанный опыт [Synced with Server]
# Setting type: Int32
# Default value: 10
MinLevelRange = 10

## Character level + MaxLevelRange is less than the level of the monster, then you will not receive experience. Уровень персонажа + MaxLevelRange меньше уровня монстра, то вы не будете получать опыт [Synced with Server]
# Setting type: Int32
# Default value: 10
MaxLevelRange = 10

[3.Reset attributes items]

## Name prefab item [Synced with Server]
# Setting type: String
# Default value: Coins
prefabName = Coins

## Name item [Synced with Server]
# Setting type: String
# Default value: coins
viewText = coins

[4.Hud--------------------]

## Use eXP Bar only (need restart, not server sync) Does not move or scale [Not Synced with Server]
# Setting type: Boolean
# Default value: false
eXP Bar Only = false

## Show max hp (100 / 100) [Not Synced with Server]
# Setting type: Boolean
# Default value: true
ShowMaxHp = true

## Scale for ExpBar whichis moveable [Not Synced with Server]
# Setting type: Single
# Default value: 0.9
ScaleforMoveableBar = 0.9

## Background color in Hex, set to 'none' to make transparent [Not Synced with Server]
# Setting type: String
# Default value: #2F1600
HudBackgroundCol = #2F1600

## Position of the HUD panel (x,y) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
1HudPanelPosition = {"x":0.0,"y":0.0}

## Position of the Exp panel (x,y) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
2ExpPanelPosition = {"x":0.0,"y":0.0}

## Exp fill color in Hex - White bleeds through with purple [Not Synced with Server]
# Setting type: String
# Default value: #FFFFFF
2.1ExpColor = #FFFFFF

## Exp Bar Scale factor [Not Synced with Server]
# Setting type: Vector3
# Default value: {"x":1.0,"y":1.0,"z":1.0}
2.2ExpScale = {"x":1.0,"y":1.0,"z":1.0}

## Position of the Stamina panel (x,y) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
3StaminaPanelPosition = {"x":0.0,"y":0.0}

## Stamina color in Hex [Not Synced with Server]
# Setting type: String
# Default value: #986100
3.1StaminaColor = #986100

## Stamina Bar Scale factor [Not Synced with Server]
# Setting type: Vector3
# Default value: {"x":1.0,"y":1.0,"z":1.0}
3.2StaminaScale = {"x":1.0,"y":1.0,"z":1.0}

## Position of the Hp panel (x,y) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
4HpPanelPosition = {"x":0.0,"y":0.0}

## HP color in Hex [Not Synced with Server]
# Setting type: String
# Default value: #870000
4.1HPColor = #870000

## HP Bar Scale factor [Not Synced with Server]
# Setting type: Vector3
# Default value: {"x":1.0,"y":1.0,"z":1.0}
4.2HPScale = {"x":1.0,"y":1.0,"z":1.0}

## Position of the Eitr panel (x,y) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
5EitrPanelPosition = {"x":0.0,"y":0.0}

## Eitr color in Hex [Not Synced with Server]
# Setting type: String
# Default value: #84257C
5.1EitrColor = #84257C

## Eitr Bar Scale factor [Not Synced with Server]
# Setting type: Vector3
# Default value: {"x":1.0,"y":1.0,"z":1.0}
5.2EitrScale = {"x":1.0,"y":1.0,"z":1.0}

## Default is true, this may cause issues with some mods [Synced with Server]
# Setting type: Boolean
# Default value: true
DisabledHealthIcons = true

[5.Optional perk---------]

## Add health by default [Synced with Server]
# Setting type: Single
# Default value: 0
AddDefaultHealth = 0

## Add weight by default [Synced with Server]
# Setting type: Single
# Default value: 0
AddDefaultWeight = 0

